@charset "UTF-8";

h1 { text-align: center;}

body {margin: 0;}
		
html, body{ 
	font-family: 'Noto Sans KR', sans-serif;
}
h1 { font-size: 40px; }

.add-notice {
	border: 1px solid #ddd;
	background-color: white;
}
.form-section {
	justify-content: center;
	padding: 10px 10px;
	margin: 20px 200px;
}

.btn-div {
	text-align: center;
	margin: 80px 0;
}

textarea {
    width: 780px;
    height: 100px;
    font-size: 14px;
    padding: 6px 15px;
    margin: 5px 10px 5px 0;
    resize: none;
}

.home-container {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 30px;
	height:auto;
	border: 1px solid  #ddd;
	background-color: white;
}
.addBtn{
	margin: auto;
	display: block;
	padding: 15px 40px;
	font-size: 20px;
	border: none;
	cursor:pointer;
	background-color: #BEE9FB;
}
table {
	border: 1px solid #8c8c8c;
}
thead {
	border-bottom: 1px solid #8c8c8c;
}
.img-div img{
	width:100%;
    height: auto;
    display: flex;
    margin-top: 15px;
}
.img-div {
	display:flex;
	margin-top: 25px;
	position: relative;
}
.imgDelete{
    position: absolute;
    top: 10px;
    padding:3px;
    right: 0px;
    background-color: #7E7E7E;
    color: white;
    font-weight: 900;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    cursor: pointer;	
}