<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.home.alone.mapper.ImchaMapper">
 
 	<!-- 회원가입 -->
 	<insert id="insertImcha" parameterType="com.home.alone.member.vo.ImchaVO">
	insert into Imcha_tb (imcha_id, imcha_pw, name, nickname, phone, user_roll, sido, gugun)          
	values(#{imchaId}, #{imchaPw}, #{name}, #{nickname}, #{phone}, #{userRoll}, #{sido}, #{gugun})
 	</insert> 
 	
 	<!-- 아이디 중복체크 -->
 	<select id="selectImchaIdCheck" resultType="int">
 		select count(*) from Imcha_tb where imcha_Id = #{imchaId}
 	</select>
 	
 	<!-- 닉네임 중복체크 -->
 	<select id="selectNicknameCheck" resultType="int">
 		select count(*) from Imcha_tb where nickname = #{nickname}
 	</select>
 	
 	<!-- 로그인 -->
 	<select id="selectImchaLogin" resultType="com.home.alone.member.vo.ImchaVO">
       select imcha_id AS imchaId, imcha_pw AS imchaPw, name, 
       		  nickname, phone, user_roll AS userRoll, sido, gugun
       from Imcha_tb where imcha_Id = #{imchaId} and imcha_pw = #{imchaPw}
    </select>
    
   <!-- 아이디 찾기  -->
    <select id="selectImchaId" resultType="java.lang.String">
    	select imcha_id AS imchaId from imcha_tb where nickname=#{nickname} and phone = #{phone}
    </select>
 	 
 	 <!-- 비밀번호 찾기 -->
 	 <select id="selectImchaPw" resultType="com.home.alone.member.vo.ImchaVO">
 	 	select imcha_pw As imchaPw from imcha_tb where imcha_id = #{imchaId} and phone = #{phone}
 	 </select>
 	 
 	 <!-- 비밀번호 변경 -->
 	 <update id="updateImchaPw">
 	 	update imcha_tb set imcha_pw = #{imchaPw} where imcha_id = #{imchaId}
 	 </update>
 	
 	<!-- 회원 정보 수정 -->
 	<update id="updateImcha">
 		update Imcha_tb
 		set imcha_pw=#{imchaPw}, nickname=#{nickname}, phone=#{phone}, user_roll=#{userRoll}, sido=#{sido}, gugun=#{gugun}
 		where imcha_Id=#{imchaId}
 	</update>
 	
 	<select id="selectImchaInfo" resultType="com.home.alone.member.vo.ImchaVO">
 		select imcha_id AS imchaId, imcha_pw AS imchaPw, name, 
 			   nickname, phone, user_roll AS userRoll, sido, gugun
       from Imcha_tb where imcha_Id=#{imchaId}
 	</select>
 </mapper>