<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guardian.myhome.mapper.BoardLikesMapper">
	
	<!-- 좋아요 체크 -->
	<select id="likeCheck" parameterType="map"  resultType="int">
		SELECT COUNT(*) FROM Board_likes where bno = #{bno} and user_id = #{userid}
	</select>
	
	<!-- 좋아요 ON -->
	<insert id="likesOn" parameterType="map">
		INSERT INTO Board_likes (likeno, bno, user_id, like_check) 
		VALUES (SEQ_LIKENO.NEXTVAL, #{bno}, #{userid}, 1)
	</insert>
	
	<!-- 좋아요 OFF -->
	<delete id="likesOff" parameterType="map">
		DELETE FROM Board_likes WHERE bno = #{bno} AND user_id = #{userid}
	</delete>
	
</mapper>