<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.guardian.myhome.mapper.HomeMapper">
 	
 	<!-- 매물 등록  -->
 	 <insert id="insertHome"  parameterType="com.guardian.myhome.vo.HomeVO">
 		insert into Home_tb(home_num, home_type, addr1, addr2, addr3, latitude, longitude, home_area, rent_type, rent_periods,
 						room_count, parking, pet, elevator, balcony, moveDate, floor, home_title, home_detail, lessor_id) 
 		values((select nvl(max(home_num), 0) + 1 from Home_tb), #{homeType}, #{addr1}, #{addr2}, #{addr3}, #{latitude}, #{longitude}, #{homeArea},
 				 #{rentType}, #{rentPeriods}, #{roomCount},  #{parking}, #{pet}, #{elevator}, #{balcony}, 
 				 #{moveDate}, #{floor}, #{homeTitle}, #{homeDetail}, #{lessorId})
 		<selectKey keyProperty="homeNum" resultType="com.guardian.myhome.vo.HomeVO"  order="AFTER">	 <!-- 삽입 후 매물 번호 반환 -->
 			select Max(home_num) as homeNum From Home_tb
 		</selectKey>
 	</insert>
 	
 	<insert id="insertHomeImgList" parameterType="java.util.List">
 		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
 		into Home_Img_tb(home_num, home_img_name, home_img_path) 
 		values
 			(#{item.homeNum}, #{item.homeImgName}, #{item.homeImgPath})
 		</foreach>
 	</insert>
 	
 	<insert id="insertHomeOptionList" parameterType="java.util.List">
 		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
 		into Home_Option_tb(home_num, option_name)  
 		values
 			(#{item.homeNum}, #{item.optionName})
 		</foreach>
 	</insert>
 	
 	<insert id="insertHomePrice" parameterType="com.guardian.myhome.vo.HomePriceVO">
 		insert into Home_Price_tb(home_num, deposit, monthly, admin_cost)  
 		values (#{homeNum}, #{deposit}, #{monthly}, #{adminCost})
 	</insert>
 	
 	<!-- 매물 신고 삽입 -->
	<insert id="insertHomeReport" parameterType="com.guardian.myhome.vo.HomeReportVO">
		insert into Home_Report_tb(report_num, home_num, imcha_id, report_type, report_content) 
		values ((select nvl(max(report_num), 0) + 1 from Home_Report_tb), #{homeNum}, #{imchaId}, #{reportType}, #{reportContent} )
	</insert>
 	
 	<!-- <insert id="insertHome"  parameterType="com.guardian.myhome.vo.HomeVO">
 		insert into Home_tb(home_num, home_type, addr1, addr2, addr3, latitude, longitude, home_area, rent_type, deposit, monthly, rent_periods,
 						room_count, admin_cost, parking, pet, elevator, balcony, moveDate, floor, home_title, home_detail) 
 		values((select nvl(max(home_num), 0) + 1 from Home_tb), #{homeType}, #{addr1}, #{addr2}, #{addr3}, #{latitude}, #{longitude}, #{homeArea},
 				 #{rentType}, #{deposit}, #{monthly}, #{rentPeriods}, #{roomCount}, #{adminCost}, #{parking}, #{pet}, #{elevator}, #{balcony}, 
 				 #{moveDate}, #{floor}, #{homeTitle}, #{homeDetail})
 		<selectKey keyProperty="homeNum" resultType="com.guardian.myhome.vo.HomeVO"  order="AFTER">	 삽입 후 매물 번호 반환
 			select Max(home_num) as homeNum From Home_tb
 		</selectKey>
 	</insert> -->
 	
	
	<select id="previewList" resultType="com.guardian.myhome.vo.HomePreviewVO">
			select  home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, latitude, longitude,
					rent_type AS rentType, deposit, monthly, rent_periods AS rentPeriods, admin_cost AS adminCost, 
					home_title AS homeTitle, home_valid AS homeValid, lessor_id AS lessorId
			from Home_tb
			where <![CDATA[home_valid=1]]>
	</select>
	
	
	<!-- <select id="selectHomeInBoundsList" resultType="com.guardian.myhome.vo.HomePreviewVO" parameterType="hashmap">
			select  home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, latitude, longitude,
					rent_type AS rentType, deposit, monthly, rent_periods AS rentPeriods, admin_cost AS adminCost, 
					home_title AS homeTitle, home_valid AS homeValid
			from  Home_tb join Home_Price_tb using(home_num) 
			where (latitude Between #{swLat} and #{neLat}) and
      			  (longitude Between #{swLng} and #{neLng}) 
	</select> -->
	
	<select id="selectHomeInBoundsList" resultType="com.guardian.myhome.vo.HomePreviewVO" parameterType="hashmap">
			select  home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, latitude, longitude,  home_area AS homeArea, 
			   rent_type AS rentType, deposit, monthly, rent_periods AS rentPeriods, room_count AS roomCount, admin_cost AS adminCost, 
			   parking, pet, elevator, balcony, moveDate, floor, home_title AS homeTitle, home_detail AS homeDetail, lessor_id AS lessorId
			from Home_tb join Home_Price_tb using(home_num) 
			where (latitude Between #{swLat} and #{neLat}) and (longitude Between #{swLng} and #{neLng}) 
	</select>
	
 	
 	<select id="selectHomeDetail" resultType="com.guardian.myhome.vo.HomeDetailVO">
		select  home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, latitude, longitude,  home_area AS homeArea, 
			   rent_type AS rentType, deposit, monthly, rent_periods AS rentPeriods, room_count AS roomCount, admin_cost AS adminCost, 
			   parking, pet, elevator, balcony, moveDate, floor, home_title AS homeTitle, home_detail AS homeDetail, 
			   lessor_id AS lessorId, jgs_name AS jgsName, jgs_num AS jgsNum, phone, name, lessor_addr1 as lessorAddr1, 
               lessor_addr2 as lessorAddr2, lessor_addr3 as lessorAddr3 
		from Home_tb 
			join Home_Price_tb using(home_num) 
			join lessor_tb using (lessor_id)
		where home_num = #{homeNum}
		
	</select>
	
	 <select id="selectHomeOptionList" resultType="java.lang.String">
 		select option_name AS optionName from Home_Option_tb where home_num = #{homeNum}
 	</select>
	
	 	
 	<select id="selectHomeImgList" resultType="com.guardian.myhome.vo.HomeImgVO">
 		select home_num AS homeNum, home_img_name AS homeImgName, home_img_path AS homeImgPath  
 		from Home_Img_tb where home_num = #{homeNum}
 	</select>
	
	<select id="selectHomeNumByOptionCheck" resultType="java.lang.Integer" parameterType="java.util.List">
 			select  <![CDATA[distinct]]> home_num As homeNum from Home_option_tb 
 			where option_name in 
 			<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item}
 		</foreach>
	</select>
	
	
	<!--  옵션관련  -->
	<insert id="insertOption" parameterType="com.guardian.myhome.vo.HomeOptionVO">
		insert into Home_Option_tb(option_num, home_num, option_name) 
		values ((select nvl(max(option_num), 0) + 1 from Home_Option_tb),  #{homeNum}, #{optionName})
	</insert>
	
	
	<!-- 매물 사진 등록  -->
 	<insert id="insertHomeImg" parameterType="com.guardian.myhome.vo.HomeImgVO">
 		insert into Home_Img_tb(img_num, home_num, home_img_name, home_img_path) 
 		values((select nvl(max(img_num), 0) + 1 from Home_Img_tb), #{homeNum}, #{homeImgName}, #{homeImgPath})
 	</insert>

 	
	<select id="selectPreviewHomeImg" resultType="com.guardian.myhome.vo.HomeImgVO"> <!-- 미리보기 사진 -->
			select home_num AS homeNum, home_img_name AS homeImgName, home_img_path AS homeImgPath 
			from (select * from Home_Img_tb where home_num = #{homeNum})
			where <![CDATA[ rownum <2 ]]>
	</select>
	



 	<delete id="deleteHomeImg">
		delete from Home_Img_tb where home_num = #{homeNum}
	</delete>
	
	<delete id="deleteHomeOption">
		delete from Home_Option_tb where home_num = #{homeNum}
	</delete>
 	
 	<update id="updateHome" parameterType="com.guardian.myhome.vo.HomeVO">
 		update Home_tb 
 		set home_type=#{homeType}, addr1=#{addr1}, addr2=#{addr2}, addr3=#{addr3}, 
 			latitude=#{latitude}, longitude = #{longitude}, home_area = #{homeArea}, rent_type=#{rentType},
 			rent_periods=#{rentPeriods}, room_count=#{roomCount}, parking=#{parking}, pet=#{pet}, elevator=#{elevator},
 			balcony=#{balcony}, moveDate=#{moveDate}, floor=#{floor}, home_title=#{homeTitle}, home_detail=#{homeDetail}
 		where home_num=#{homeNum}
 		
 	</update>
 	
 	<update id="updateHomePrice" parameterType="com.guardian.myhome.vo.HomePriceVO">
 		update Home_Price_tb set deposit = #{deposit}, monthly = #{monthly}, admin_cost = #{adminCost} where home_num = #{homeNum}
 	</update>
 	
 	<select id="selectListByLessorId" resultType="com.guardian.myhome.vo.HomePreviewVO">
 		select  home_num AS homeNum, home_type AS homeType, addr1, addr2, addr3, latitude, longitude,
					rent_type AS rentType, deposit, monthly, rent_periods AS rentPeriods, admin_cost AS adminCost, 
					home_title AS homeTitle, home_valid AS homeValid, lessor_id AS lessorId
		from Home_tb
			join Home_Price_tb using(home_num)
		where lessor_id=#{lessorId, jdbcType=VARCHAR}
 	</select>
 	
 	
  	<select id="selectReportHomeList" resultType="com.guardian.myhome.vo.HomeReportVO">
 		select report_num AS reportNum, home_num AS homeNum, imcha_id AS imchaId, report_type AS reportType, report_content AS reportContent, report_regdate AS reportRegDate, home_valid AS homeValid 
 		from Home_Report_tb 
 			join Home_tb using(home_num) 
 	</select>
 	
 	<delete id="deleteHome">
 		delete from Home_tb where home_num = #{homeNum}
 	</delete>
 	
 </mapper>
 