<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.guardian.myhome.mapper.LikeMapper">
 
 	<resultMap type="com.guardian.myhome.vo.LikeVO" id="likeMap">
 		<result property="imchaId" column="IMCHA_ID" />
 		<result property="homeNum" column="home_num" />
 		<result property="likeNum" column="like_num" />
 		<result property="likeStatus" column="like_status" />
 	</resultMap>
 	
 	<insert id="insertLike" parameterType="com.guardian.myhome.vo.LikeVO">
 		insert into Home_Like_tb (like_num, IMCHA_ID, home_num) values ((select nvl(max(like_num), 0) + 1 from Home_Like_tb), #{imchaId}, #{homeNum})
 	</insert>
 	
 	<select id="getLikeByImchaId" resultMap="likeMap">
 		select * from Home_Like_tb where IMCHA_ID = #{imchaId}
 	</select>
 	
 	<select id="checkLike" resultType="int"> <!--좋아요 눌렀는지 확인 -->
 		select <![CDATA[count(*)]]>  from Home_Like_tb where IMCHA_ID = #{imchaId} and home_num = #{homeNum}
 	</select>
 	
 	
 	<delete id="delete">
 		delete from Home_Like_tb where IMCHA_ID = #{imchaId} and home_num = #{homeNum}
 	</delete>
 	
 	<delete id="deleteAllByHomeNum" >
 		delete from Home_Like_tb where home_num = #{homeNum}
 	</delete>
 	
    <!-- <select id="getByLikeNumWithImchaId" resultMap="likeMap" resultType="com.guardian.myhome.vo.LikeVO">
 		select * from Home_Like_tb where IMCHA_ID=#{imchaId}
 	</select>  -->
 	
 	<select id = "getLikeDetail" parameterType="com.guardian.myhome.vo.HomeDetailVO" resultType="com.guardian.myhome.vo.HomeDetailVO">
 		select ht.Home_Num as homeNum,ht.addr1,ht.addr2,ht.addr3,ht.home_type as rentType,hp.deposit,hp.monthly,ht.rent_periods 
 		from Home_Price_tb hp , Home_tb ht  where hp.Home_Num = ht.Home_Num and ht.Home_Num = #{homeNum} 
 	</select>
 	
 </mapper>